*{
    margin: 0;
    padding: 0;
}
.center{
    text-align: center;
}

#section1{
    width: 100%;
    background-image: url('../images/history2.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
}

#history{
    height: 40%;
    width: 20%;
    position: absolute;
    left: 66%;
    top: 10%;
    padding: 3%;
}
#history h3, p{
    color: white;
}

#section2{
    width: 75%;
    margin: 0 auto;
}
 
#whychoseus p{
    color: black;
}

#pastimg{
    width: 50%;
    background-image: url('../images/photo1.jpg');
    background-size: cover;
    background-position: center;
    height: 35vh;
}
#ourpast{
    width: 50%;
}
#ourpast p{
    color: black;
}
#tmrimg{
    width: 50%;
    background-image: url('../images/photo2.jpg');
    background-size: cover;
    background-position: center;
    height: 35vh;
}
#ourtmr{
    width: 50%;
}
#ourtmr p{
    color: black;
}