*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: #f0ebe2;
}
#section1{
    width: 70%;
    margin: 0 auto;
}
.yourcart{
    text-align: center;
    padding: 3% 0%;
    font-family: 'Fredoka One', cursive;
    color: #5c1717;
}
#section1>table{
    width: 100%;
    height: auto;
}
#cart th{
    font-family: 'Public Sans', sans-serif;
    color: #f0ebe2;
    background-color: #5c1717;
    padding: 1% 0%;
    font-weight: bold;
    border: 2px solid #fff;
}
.c-item{
    width: 50%;
}
.c-price{
    width: 15%;
}
.c-quantity{
    width: 15% ;
}
.c-total{
    width: 20%;
}
#card>tr{
    height: 10vh;
}

td>select{
    border-radius: 30px;
    padding: 2% 5%;
    background-color: #5C1717;
    color: #fff;
    border: 3px solid #fff;
}
td{
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'Public Sans', sans-serif;
    font-size: 0.9rem;
    color: #172161;
    font-weight: bold;
}
.i-name{
    text-align: left;
}
.i-name p{
    width: 83%;
    margin-top: 5%;
    margin-left: 2%;
}
td>img{
    width: 15%;
    height: 10vh;
    border-radius: 20px;
}

#c-final{
    width: 40%;
    margin-left: 55%;
}
.c-final{
    margin-top: 2%;
}
.c-final>label{
    width: 25%;
    padding: 3%;
    font-family: 'Rowdies', cursive;
    color: #A71515;
}

.c-final>input{
    background-color: transparent;
    border:none;
    width: 66%;
    margin-right: 0px;
    padding: 3% 0%;
    text-align: right;
}

#cart>td{
    text-align: center;
}

#section2>h3{
    text-align: center;
    margin: 3% auto;
    font-family: 'Rowdies', cursive;
    color:#5c1717;
    font-size: 1.5rem;
}
#section2 i{
    color: #5c1717;
    margin-left: 1%;
}
#furnitures{
    width: 78%;
    margin: 0 auto;
}

.items{
    width: 20%;
    margin-left: 3%;
    height: 65vh;
    background-color: white;
    margin-top: 3%;
    padding: 1% 1% 3%;
    border-radius: 25px;
    border: 1px solid #5c1717;
    position: relative;
}
.items h3{
    font-family:  'Public Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 7%;
    color: #172161;
}
.items p{
    font-family:  'Public Sans', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 7%;
}
.price{
    font-family:  'Public Sans', sans-serif;
    font-size: 1rem;
    color:#FFB400;
    font-weight: bold;
}
.oldprice{
    font-family:  'Public Sans', sans-serif;
    font-size: 0.7rem;
    color: #172161;
    text-decoration: line-through;
    margin-left: 7%;
}
.table{
    width: 60%;
    position: absolute;
    bottom: 4%;
    left: 18%;
}
.table table{
    background-color: #5c1717;
    border: 1px solid #fff;
    width: 100%;
    padding: 2%;
    border-radius: 20px;
}
.items select{
    background-color: #5c1717;
    border: none;
    padding: 3%;
    color: #fff;
    font-family:  'Public Sans', sans-serif;
}
.atobag{
    background-color: #5c1717;
    padding: 3%;
    text-align: center;
    color: #fff;
    font-family:  'Public Sans', sans-serif;
}
.i-icon{
    background-color: #5c1717;
    color: #fff;
    font-family:  'Public Sans', sans-serif;
    padding: 0.5%;
}
#furnitures i{
    color: #FBD12A; 
    margin-left: 1%;
}
.iclass{
    margin: 4% 0%;
}
.imgdiv1{
    background-image: url('../images/t10.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv2{
    background-image: url('../images/c7.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv3{
    background-image: url('../images/b3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv4{
    background-image: url('../images/cb2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv5{
    background-image: url('../images/sb2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv6{
    background-image: url('../images/t1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv7{
    background-image: url('../images/t3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}
.imgdiv8{
    background-image: url('../images/c6.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
}


.left{
    margin-left: 0px;
}
.right{
    margin-right: 0px;
}

#moreresults{
    text-align: center;
    margin-top: 6%;
}
#moreresults>a{
    padding: 1% 4%;
    background-color: #fff;
    border-radius: 20px;
    color: #5c1717;
    border: 1px solid #5c1717;
    font-family:  'Public Sans', sans-serif;
    font-weight: bold;
}

#section6{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3% 0;
    background-color: #f0ebe2;
    margin-top: 3%;
}
.f-li{
    margin-left: 10%;
}
.f-li>li{
    list-style-type: none;
    display: inline;
    margin-left: 7%;
}
.f-li i{
    font-size: 2rem;
    color: #5C1717;
}
#followus, #signup{
    float: left;
}
.followus{
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    color:#5C1717;
}
#followus{
    width: 50%;
    margin-left: 9%;
    margin-top: 1%;
}
#signup{
    margin-left: 10%;
    font-family: 'Public Sans', sans-serif;
    color:#172161;
    font-size: 1.1rem;
}

#email{
    display: block;
    margin-top: 6%;
    padding: 4%;
    width: 100%;
}

#section8{
    width: 100%;
}
#payment{
    width: 100%;
    margin: 5% auto;
}
.paymentgp img{
    width: 11%;
    height: 6vh;
    margin: 0 4% 4%;
    border-radius: 10px;
}
.paymentgp li{
    list-style-type: none;
    display: inline;
}
#payment p{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    color:black;
}

.paymentgp{
    margin: 0 auto;
    width: 35%;
}

.float{
    float: left;
}

#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
#footer4 p{
    color: #fff;
    font-family: 'Public Sans', sans-serif; 
}
footer{
    margin: 0 auto;
    padding-bottom: 3%;
    height: 20vh;
    padding-top: 3%;
    background-color: gray;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin-top: 2%;
}
footer a{
    color: white;
    font-family: 'Public Sans', sans-serif; 
}
footer h5{
    font-size: 1.4rem;
    color: white;
    margin-bottom: 7%;
}

#copyright{
    background-color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
}
#copyright p{
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}
