*{
    margin: 0;
    padding: 0;
}
.float{
    float:left;
}
.center{
    text-align: center;
}
#clear{
    clear: both;
}
#container{
    background-color: #f0ebe2;
}
#section1{
    width: 100%;
}
#contact{
    background-image: url('../images/contact1.jpg');
    background-size: cover;
    background-position:top;
    width: 100%;
    position: relative;
    height: 70vh;
    margin: 0 auto;
}

.contact{
    position: absolute;
    top:  48%;
    left: 20%;
    font-family: 'Kavoon', cursive;
    font-size: 2rem;
}

#section2{
    width: 70%;
    margin: 0 auto;
}

#cusservice{
    width: 50%;
    margin-top: 5%;
    text-align: center;
}
#cusservice i{
    font-size: 3.5rem;
    color: #5c1717;
}
#callcenter i{
    font-size: 3.5rem;
    color: #5c1717;
}
#callcenter{
    width: 50%;
    margin-top: 5%;
    text-align: center;
}
#address{
    margin-top: 5%;
    text-align:center;
}
#address i{
    font-size: 4rem;
    color: #5c1717;
}
.chead{
    margin-bottom: 4%;
    font-size: 1.4rem;
    margin-top: 7%;
    font-family: 'Rowdies', cursive;
}

.chead1{
    margin-bottom: 4%;
    font-size: 1.4rem;
    margin-top: 4%;
    font-family: 'Rowdies', cursive;
}

.cinfo{
    line-height: 1.7;
    font-size: 1.1rem;
    font-family: 'Public Sans', sans-serif;
    color: #172161;
}

#section3{
    background-color:#fff;
}
#message{
    width: 60%;
    margin: 5% auto 0%;
    padding: 2% 0%;
}
.width{
    width: 15%;
    text-align: center;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 20px;
    padding: 1%;
}
.width i{
    font-size: 2rem;
    color: #172161;
}
#section3 h4{
    margin: 10% 0% 15%;
    font-family: 'Rowdies', cursive;
}
.atag{
    border: 1px solid black;
    padding: 3% 8%;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 15%;
    font-family: 'Public Sans', sans-serif;
    background-color:#5c1717;
    color: #fff;
}
#section4{
    width: 100%;
    padding-bottom: 3%;
} 
#cform{
    width: 30%;
    padding: 2%;
    padding-bottom: 0px;
    margin: 0 auto;
}
#form{
    margin-top: 2%;
}
#form>label{
    width: 25%;
    padding: 3%;
    font-family: 'Rowdies', cursive;
    color: #172161;
}

#form>input{
    background-color: transparent;
    border:none;
    width: 82%;
    margin-right: 0px;
    padding: 3% 0%;
}
#form>textarea{
    background-color: transparent;
    width: 90%;
    padding: 6% 5%;
    border: none;
}
.cb{
    font-family:'Public Sans', sans-serif;
    color: #5c1717;
    margin-top: 3%;
}
#cb{
    font-size: 1.3rem;
    margin-top: 3%;
}


#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
#footer4 p{
    color: #fff;
    font-family: 'Public Sans', sans-serif; 
}
footer{
    margin: 0 auto;
    padding-bottom: 3%;
    height: 20vh;
    padding-top: 3%;
    background-color: gray;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin-top: 2%;
}
footer a{
    color: white;
    font-family: 'Public Sans', sans-serif; 
}
footer h5{
    font-size: 1.4rem;
    color: white;
    margin-bottom: 7%;
}

#copyright{
    background-color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
}
#copyright p{
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}
