*{
    margin: 0;
    padding: 0;
}

#slider{
    background-image: url('../images/contact2.jpg');
    background-size: fill;
    background-position:center;
    width: 100%;
    position: relative;
}

#contact{
    position: absolute;

}