*{
    margin: 0;
    padding: 0;
}
.center{
    text-align: center;
}

#section1{
    width: 100%;
    background: linear-gradient(90deg, rgba(63,41,55,1) 0%, rgba(232,215,199,1) 0%, rgba(232,215,199,1) 38%, rgba(100,111,61,0.27503501400560226) 60%, rgba(232,215,199,1) 61%);
}
#contact{
    background-image: url('../images/contact1.jpg');
    background-size: cover;
    background-position:top;
    width: 70%;
    position: relative;
    height: 40vh;
    margin: 0 auto;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.contact{
    position: absolute;
    top:  48%;
    left: 10%;
}

#section2{
    width: 70%;
    margin: 0 auto;
}

#cusservice{
    width: 50%;
    margin-top: 5%;
}
#callcenter{
    width: 50%;
    margin-top: 5%;
}
#address{
    margin-top: 5%;
}
.chead{
    margin-bottom: 4%;
    font-size: 1.4rem;
}
.cinfo{
    line-height: 1.7;
    font-size: 1.2rem;
}

#section3{
    background-color:aliceblue;
}
#message{
    width: 60%;
    margin: 5% auto;
    padding: 2% 0%;
}
.width{
    width: 15%;
    text-align: center;
    margin-left: 7%;
    margin-right: 2%;
    background-color: blue;
    border-radius: 15%;
}
#section3 h4{
    margin: 15% 0% 15%;
}
.atag{
    border: 1px solid black;
    padding: 3% 4%;
    border-radius: 20%;
    display: inline-block;
    margin-bottom: 15%;
}

#section4{
    background-image: url('../images/photo33.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}
    
#cform{
    width: 30%;
    padding: 2%;
    margin-left: 66%;
}
#form{
    margin-top: 2%;
    
}
#form>label{
    width: 25%;
    padding: 3%;
}
#form>input{
    background-color: transparent;
    border:none;
    width: 74%;
    margin-right: 0px;
    padding: 3% 0%;
}
#form>textarea{
    background-color: transparent;
    width: 90%;
    padding: 3%;
    border: none;
}

#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
footer{
    margin: 0 auto;
    padding-bottom: 1%;
    height: 20vh;
    padding-top: 2%;
    background-color: gray;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin-top: 2%;
}
footer a{
    color: white;
}
footer h5{
    font-size: 1.3rem;
    color: white;
    
}

#copyright{
    background-color: #333;
    height: 3vh;
}
#copyright p{
    color: white;
    text-align: center;
}
