*{
    margin: 0;
    padding: 0;
}
/*float left and fixing*/
.float{
    float: left;
}
.clear{
    clear:both;
}
a{
    text-decoration: none;
}
/*header*/
header{
    width: 100%;
    margin: 0 auto;
    background-color: #fbfbfb;
}
#logo{
    width: 18%;
    background-color: #fbfbfb;
    margin-left: 5%;
}
.logoimg{
    width: 70%;
    height: 10vh;
    position: relative;
    margin-left: 3%;
    margin-top: 1%;
}
#search{
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
}
#search>input{
    width: 30%;
    padding: 1% 2%;
    border-radius: 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#search>input:focus {
    width: 90%;
}


#navbar1{
    width: 39%;
    margin-top: 1%;
}
#navbar1 li{
    list-style-type: none;
    display: inline-block;
    padding: 2%;
    vertical-align: middle;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
}
.navbar1{
    position: relative;
}
.navbar1 i{
    font-size: 1.3rem;
    color:#172161;
}
.navbar1 select{
    background-color: #fbfbfb;
    color: #172161;
    font-size: 1.1rem;
    font-family: 'Cabin', sans-serif;
}
::placeholder{
    font-family: 'Cabin', sans-serif;
    color: #172161;
}
#country{
    border: none;
}
.navbar1 a{
    padding: 15% 20%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.navbar1 a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar1 a:hover:before, .navbar1 a:focus:before, .navbar1 a:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
}
.navbar1 a:visited{
    color: #172161;
}
  

.left{
    margin-left: 0px;
}
.right{
    margin-right: 0px;
}

/*slider animation*/
#slider-div{
    position: relative;
}
@keyframes autoplay6 {
    0% {opacity: 0.0}
    4% {opacity: 1.0}
    33.33% {opacity: 1.0}
    37.33% {opacity: 0.0}
    100% {opacity: 0.0}
}
#slider{
    width: 100%;
    height: 70vh;
    position: relative;
}
#slider > * {
    animation: 12s autoplay6 infinite linear;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    height: 70vh;
    width: 100%;
}
#slider img{
    width:100%;
    object-fit: cover;
    height:70vh;
  }
  
  #slider > *:nth-child(1) {
    animation-delay: 0s;
  }
  #slider > *:nth-child(2) {
    animation-delay: 4s;
  }
  #slider > *:nth-child(3) {
    animation-delay: 8s;
  }


.quote{
    text-align: center;
    position: absolute;
    left: 30%;
    top: 5%;
    z-index: 2;
}

.quotep>span{
    display: block;
    color: #172161;
    font-weight: bold;
}
.word1{
    font-size: 2.3em;
    font-family: 'Rubik Vinyl', cursive;
}
.word2{
    font-size: 1.2em;
    margin-top: 1%;
}
.word3{
    font-size: 2.3em;
    margin-top: 1%;
    text-transform: uppercase;
    font-family: 'Rubik Vinyl', cursive;
}
.word4{
    font-size: 1.2em;
    margin-top: 1%;
}
.word5{
    font-size: 2.3em;
    margin-top: 1%;
    text-transform: uppercase;
    font-family: 'Rubik Vinyl', cursive;
}
@media only screen and (max-width: 600px) {
   #logo{
    width: 35%;
    margin-left: 3%;
   }
   #search{
    width: 45%;
    margin-right: 3%;
    margin-top: 5%;
   }
   #navbar1{
    width: 100%;
   }
   #navbar1 li{
    font-size: 1rem;
    padding: 1%;
    margin-left: 1%;
   }
   .navbar1 select{
    font-size: 1rem;
    margin-left: 10%;
   }
   .word1{
    font-size: 1.7em;
    }
    .word2{
    font-size: 0.6em;
    }
    .word3{
    font-size: 1.7em;
    }
    .word4{
    font-size: 0.6em;
    }
    .word5{
    font-size: 1.7em;
    }
}