*{
    margin: 0;
    padding: 0;
}
/*float left fixing*/
.clear{
    clear:both;
}
.float{
    float: left;
}
/*slider*/
#category{
    width: 75%;
    padding: 2% 0%;
    text-align: center;
    margin: 2% auto 0% auto;
}
#category>h1{
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', cursive;
    color: #172161;
}
#container{
    background-color: #f0ebe2;
}

/*section1 category*/
#section1{
    margin: 0 auto;
    width: 75%;
    padding-top: 2%;
    padding-bottom: 5%;
}
.section1{
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
    text-transform: Uppercase;
    background-color: rgba(240, 248, 255, 0.8);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#section1 a{
    color: #172161;
    font-family: 'Fredoka One', cursive;
}
a{
    text-decoration: none;
}
/*category hover*/
.category{
    width: 25%;
    height: 35vh;
    margin-top: 3%;
    margin-right: 12%;
    border-radius: 20px;
}
.categories{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.categories:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.categories:hover, .categories:focus, .categories:active {
    color: white;
}
.categories:hover:before, .categories:focus:before, .categories:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#Tent{
    background-image: url('../images/tentimg.jpg');
    background-size: cover;
    background-position: center;
}
#CampFur{
    background-image: url('../images/campfur.jpg');
    background-size:cover;
    background-position: center;
}
#SleepBag {
    background-image: url('../images/sleepbag.jpg');
    background-size:cover;
    background-position: center;
    margin-right:0;
}
#Lighting{ 
    background-image: url('../images/lighting.jpg');
    background-size:cover;
    background-position: center;
} 
#Clothing{
    background-image: url('../images/campingclothes.jpg');
    background-size:cover;
    background-position: center;
}
#Footwear{
    background-image: url('../images/footwear.jpg');
    background-size:cover;
    background-position: center;
    margin-right: 0;
}
#OutdoorAcc{
    background-image: url('../images/outdooracc.jpg');
    background-size:cover;
    background-position: center;
    margin: 3% 11%;
}
#OutdoorKit{
    background-image: url('../images/outdoorkitchen.jpg');
    background-size:cover;
    background-position: center;
    margin: 3% 11%;
}

/*section2 latest arrival and top pick-up*/
#section2{
    margin: 1% auto 0%;
    height: 80vh;
    background-color: #fff;
    padding-top: 4%;
}
#section2 h2{
    margin: 0;
    text-align: center;
    font-family: 'Rowdies', cursive;
    color: #172161;
}
#section2 h3{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    margin: 5% 0% 5% 15%;
    font-size: 1.1rem;
}
#items{
    display: flex;
    margin-top: 3%;
}
.items{
    border-radius: 20px;
    margin-left:10px;
    height: 50vh;
    flex-grow:1;
    transition: .3s all ease;
    width:10%;
    object-fit: cover;
    opacity: .8;
}
.items:hover{
    flex-grow:3;
    opacity: 1;
    filter: contrast(120%);
}
.itemimgs{
    display: flex;
    justify-content: center;
}
.itemimg{
    width: 70%;
    height: 50%;
}
.iclass{
    margin-left: 15%;
}
.iclass i{
    color: #FBD12A;
}
.info{
    display: inline-block;
    margin-left: 15%;
    margin-top: 2%;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    color: #1313C5;
}

/*blog*/
#section3{
    height: 80vh;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 2%;
    padding-top: 1%;
}
#section3 h1{
    text-align: center;
    height: 5%;
    font-family: 'Rowdies', cursive;
    color: #172161;
    margin-bottom: 3%;
    font-size: 1.6rem;
    padding-top: 2%;
    margin-top: 0px;
}
.blog{
    border: 1px solid #172161;
    box-shadow: 3vh 2vh rgba(186, 189, 191,0.7);
}
.blog1, .blog2, .blog3{
    width: 25%;
    height: 70%;
    background-color: white;
    border-radius: 50px;
    float: left;
}
.blog1{
    margin-left: 5%;
    background-image: url('../images/colemantent.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.blog2{
    margin-left: 8%;
    margin-right: 7%;
    background-image: url('../images/campingwithbaby.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.blog3{
    margin-right:4%;
    background-image: url('../images/campinggift.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.viewmore{
    text-align: center;
    margin: 2% 0%; 
    padding-top: 2%;
}
#section3 .viewmoreanchor{
    background-color: #172161;
    padding: 1% 1.9%;
    border-radius: 30px;
    border: 1px solid white;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Public Sans', sans-serif;
}
#section3 .viewmoreanchor:hover{
    background-color: white;
    color: #172161;
    border: 1px solid #172161;
    font-weight: bold;
}
.tentreview h3{
    font-family: 'Public Sans', sans-serif;
    color:#172161;
}
.tentreview p{
    font-family: 'Public Sans', sans-serif;
    color:#172161;
    font-size: 0.8rem;
}
.tentreview{
    background: #dde2eb;
    position: absolute;
    bottom: 0px;
    padding: 2% 3% 6%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*discountinfo*/
#section4{
    background-image: url('../images/campingphoto.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
    width: 100%;
    margin-top: 3%;
}
.discountinfo{
    background-color:rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 27%;
    left: 67%;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 8px 10px rgba(186, 189, 191,0.7);
}
.discountinfo h3,p,span{
    font-family: 'Public Sans', sans-serif;
    color:#172161;
}
.ph-no{
    color: #4D4E08;
    font-weight: bold;
}
.discountinfo h3{
    margin-bottom: 5%;
    font-size: 1.2rem;
}

#section5{
    background-color: #fff;
    padding-top: 3%;
    padding-bottom: 6%;
}
.testimonials{
    display: flex;
}
.testimonial{
    width: 30%;
    float: left;
    flex-grow:1;
    transition: .3s all ease;
    object-fit: cover;
    opacity: 1;
}
.testimonial:hover{
    flex-grow:50;
    opacity: 1.3;
    filter: contrast(120%);
}
.profileimg{
    display: flex;
    justify-content: center;
    margin: auto;
}

/*testimonials*/
#section5 h2, h3{
    text-align: center;
    padding-top: 1%;
}
#section5 h3{
    font-family: 'Rowdies', cursive;
    color: #172161;
    font-size: 1.5rem;
}
#section5 h2{
    margin-bottom: 3%;
    margin-top: 1%;
    font-family: 'Fredoka One', cursive;
    color: #172161;
    font-size: 2.2rem;
}
.t1{
    margin-left: 2%;
}
.t2{
    margin: 0% 2%;
}
.t3{
    margin-right: 2%;
}
.testimonial p{
    text-align: center;
    font-size: 1rem;
    margin-top: 4%;
    font-family: 'Public Sans', sans-serif;
    color: #172161;
    letter-spacing: 1px;
    line-height: 25px;
    width: 90%;
    margin: auto;
}
.name{
    font-family: 'Courgette', cursive;
    color: #172161;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 8%;
}
.readmore{
    text-align: center;
    margin: 2% 0%; 
    padding-top: 2%;
}
#section5 .readmoreanchor{
    background-color: #853335;
    padding: 1% 1.9%;
    border-radius: 30px;
    border: 1px solid white;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Public Sans', sans-serif;
}
#section5 .readmoreanchor:hover{
    background-color: white;
    color: #853335;
    border: 1px solid #853335;
    font-weight: bold;
}

/*follow us*/
#section6{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3% 0;
    background-color: #f0ebe2;
}
.f-li{
    margin-left: 10%;
}
.f-li>li{
    list-style-type: none;
    display: inline;
    margin-left: 7%;
}
.f-li i{
    font-size: 2rem;
    color: #5C1717;
}
#followus, #signup{
    float: left;
}
.followus{
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    color:#5C1717;
}
#followus{
    width: 50%;
    margin-left: 9%;
    margin-top: 1%;
}
#signup{
    margin-left: 10%;
    font-family: 'Public Sans', sans-serif;
    color:#172161;
    font-size: 1.1rem;
}

#email{
    display: block;
    margin-top: 6%;
    padding: 4%;
    width: 100%;
}



/*contactform*/
#section7{
    width: 80%;
    margin: 5% auto;
}
#form, #contact, #map{
    float: left;
}
#form{
    width: 40%;
}
#contact{
    width: 30%;
}
.contactform{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #3EAC24;
}
#section7 h2{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    color:#5C1717;
}
.form input{
    padding: 3%;
    margin-top: 7%;
    margin-bottom: 7%;
}
#submit{
    background-color: #853335;
    padding: 2% 5%;
    border-radius: 30px;
    border: 1px solid white;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Public Sans', sans-serif; 
}
#submit:hover{
    background-color: white;
    color: #853335;
    border: 1px solid #853335;
    font-weight: bold;
}
#cusemail{
    margin-left: 3%;
}
.form textarea{
   width: 78%;
   padding: 3%;
   height: 7vh;
   font-family: 'Cabin', sans-serif;
    color: #172161;
}
.contactinfo{
    margin-top: 9%;
    font-family: 'Public Sans', sans-serif;
    color: #172161;
}
#map iframe{
    width: 100%;
}

/*payment*/
#section8{
    width: 100%;
}
#payment{
    width: 100%;
    margin: 5% auto;
}
.paymentgp img{
    width: 11%;
    height: 6vh;
    margin: 0 4% 4%;
    border-radius: 10px;
}
.paymentgp li{
    list-style-type: none;
    display: inline;
}
#payment p{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    color:black;
}

.paymentgp{
    margin: 0 auto;
    width: 35%;
}

/*footer*/
#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
#footer4 p{
    color: #fff;
    font-family: 'Public Sans', sans-serif; 
}
footer{
    margin: 0 auto;
    padding-bottom: 3%;
    height: 20vh;
    padding-top: 3%;
    background-color: gray;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin-top: 2%;
}
footer a{
    color: white;
    font-family: 'Public Sans', sans-serif; 
}
footer h5{
    font-size: 1.4rem;
    color: white;
    margin-bottom: 7%;
}

#copyright{
    background-color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
}
#copyright p{
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
   .categories{
    font-size: 0.8rem;
   }
   .category{
    width: 25%;
    height: 20vh;
 }
 #section2{
    height: 60vh;
}
#section2 h2{
   font-size: 1rem;
}
#section2 h3{
    font-size: 0.7rem;
}
.items{
    height: 30vh;
}

.iclass i{
    font-size: 0.5rem;
}
.info{
    font-size: 0.5rem;
}
#section3{
    height: 60vh;
}
#section3 h1{
    font-size: 1.5rem;
}
.blog{
    border: 1px solid #172161;
    box-shadow: 2vh 1vh rgba(186, 189, 191,0.7);
}
.blog1, .blog2, .blog3{
    height: 70%;
}
#section3 .viewmoreanchor{
    font-size: 0.8rem;
}
.tentreview h3{
    font-size: 0.8rem;
}
.tentreview p{
    font-size: 0.5rem;
}
.tentreview{
    padding: 2% 3% 19%;
}
.discountinfo{
    top: 20%;
    left: 50%;
}
.discountinfo h3{
    font-size: 1rem;
}
.discountinfo p,span{
    font-size: 0.8rem;
}
.profileimg{
    height: 20vh;
}
/*testimonials*/
#section5 h3{
    font-size: 1.1rem;
}
#section5 h2{
    font-size: 1.5rem;
}
.testimonial p{
    font-size: 0.8rem;
    line-height: 20px;
}
.name{
    font-size: 1rem;
}
#section5 .readmoreanchor{
    padding: 2% 2.9%;
    font-size: 1rem;
}
.f-li>li{
    margin-left: 7%;
}
.f-li i{
    font-size: 1.6rem;
}
.followus{
    font-size: 1.5rem;
}
#followus{
    width: 90%;
    margin-left: 9%;
}
#signup{
    margin-left: 10%;
    font-size: 1rem;
    margin-top: 5%;
}

#email{
    display: block;
    margin-top: 6%;
    padding: 3%;
    width: 100%;
}
#section7{
    width: 80%;
    margin: 5% auto;
}
#form, #contact, #map{
    float: left;
}
#form{
    width: 40%;
}
#contact{
    width: 100%;
}
.contactform{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #3EAC24;
}
#section7 h2{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    color:#5C1717;
}
.form input{
    padding: 3%;
    margin-top: 7%;
    margin-bottom: 7%;
}
#submit{
    padding: 3% 7%;
    font-size: 1rem;
}
#cusemail{
    margin-left: 0%;
}
.form textarea{
   width: 100%;
}
#map iframe{
   margin-top: 5%;;
}
.paymentgp{
    width: 100%;
}
#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
#footer4 p{
   font-size: 0.9rem;
}
footer{
    height: 27vh;
}
footer a{
    color: white;
    font-size: 0.8rem;
}
footer h5{
    font-size: 1.2rem;
}

#copyright p{
 font-size: 0.7rem;
}

}