*{
    margin: 0;
    padding: 0;
}

#section1{
    margin: 0 auto;
    width: 85%;
    height: 100%;
    background-color: gray;
}
.section1{
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    text-transform: Uppercase;
    background-color: rgba(240, 248, 255, 0.3);
}
a{
    text-decoration: none;
}

#clear{
    clear:both;
}

.category{
    float: left;
    width: 27%;
    height: 30%;
    border: 1px solid blue;
    margin-top: 3%;
    margin-right: 8%;
}

#Tent{
    background-image: url('../images/tentimg.jpg');
    background-size: cover;
    background-position: center;
}
#CampFur{
    background-image: url('../images/campfur.jpg');
    background-size:cover;
    background-position: center;
}
#SleepBag {
    background-image: url('../images/sleepbag.jpg');
    background-size:cover;
    background-position: center;
    margin-right:0;
}
#Lighting{ 
    background-image: url('../images/lighting.jpg');
    background-size:cover;
    background-position: center;
} 
#Clothing{
    background-image: url('../images/campingclothes.jpg');
    background-size:cover;
    background-position: center;
}
#Footwear{
    background-image: url('../images/footwear.jpg');
    background-size:cover;
    background-position: center;
    margin-right: 0;
}
#OutdoorAcc{
    background-image: url('../images/');
    background-size:cover;
    background-position: center;
    margin: 3% 11%;
}
#OutdoorKit{
    background-image: url('../images/outdoorkitchen.jpg');
    background-size:cover;
    background-position: center;
    margin: 3% 11%;
}

#section2{
    margin: 2% auto;
    height: 80%;
}

#section2 h2{
    margin: 0;
    padding: 1% 0% 0% 0%;
    text-align: center;
}
#section2 h3{
    margin: 0;
    padding: 0;
    margin-left: 15%;
}
.items{
    float: left;
    width: 20%;
    margin: 3% 0% 1% 0%;
}
.itemimgs{
    display: flex;
    justify-content: center;
}
.itemimg{
    width: 70%;
    height: 50%;
}

.info{
    display: inline-block;
    margin-left: 15%;
    margin-top: 2%;
    font-weight: bold;
}

#section3{
    width: 100%;
    height: 80%;
    
}
#section3 h2{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 5%;
}
.blog1, .blog2, .blog3{
    width: 25%;
    height: 70%;
    background-color: white;
    border-radius: 20%;
    float: left;
}
.blog1{
    margin-left: 5%;
    background-image: url('../images/colemantent.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.blog2{
    margin-left: 8%;
    margin-right: 8%;
    background-image: url('../images/campingwithbaby.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.blog3{
    margin-right:4%;
    background-image: url('../images/campinggift.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.viewmore{
    text-align: center;
    margin: 2% 0%; 
}
#section3 .viewmoreanchor{
    background-color: violet;
    padding: 0.7% 1%;
    border-radius: 20%;
    border: 1px solid black;
}

.tentreview{
    background:rgba(186, 189, 191,0.7);
    position: absolute;
    bottom: 0px;
}

#section4{
    background-image: url('../images/campingphoto.jpg');
    background-size: cover;
    background-position: center;
    height: 55%;
    position: relative;
    width: 100%;
}
.discountinfo{
    background-color:rgba(186, 189, 191,0.7);
    position: absolute;
    top: 27%;
    left: 67%;
    padding: 3%;
}


.testimonial{
    width: 30%;
    float: left;
}
.profileimg{
    display: flex;
    justify-content: center;
    margin: auto;
}
#section5 h2, h1{
    text-align: center;
    margin-top: 3%;
}
#section5 h1{
    margin-bottom: 3%;
    margin-top: 2%;
}
.t1{
    margin-left: 2%;
}
.t2{
    margin: 0% 2%;
}
.t3{
    margin-right: 2%;
}
.testimonial p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4%;
}

#section6{
    margin: 5% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3% 0;
}
#followus, #signup{
    float: left;
}

#followus{
    width: 40%;
    margin-left: 9%;
}
#signup{
    margin-left: 10%;
}

#email{
    display: block;
    margin-top: 6%;
    padding: 4%;
    width: 100%;
}


#section7{
    width: 80%;
    margin: 5% auto;
    width: 80%;
}

#form, #contact, #map{
    float: left;
}
#form{
    width: 40%;
}
#contact{
    width: 30%;
}
.contactform{
    font-size: 1.4rem;
    text-transform: uppercase;
}
#section7 h1{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}
.form input{
    padding: 3%;
    margin-top: 7%;
}
#cusemail{
    margin-left: 3%;
}
#message{
    width:88%;
}
.contactinfo{
    margin-top: 9%;
    font-size: 1.1rem;
}
#map iframe{
    width: 100%;
    height: 50%;
}


footer{
    margin: 0 auto;
    margin-bottom: 1%;
    height: 40%;
}
footer ul{
    list-style-type: none;
}
footer li{
    display: inline;
}
.paymentimg{
    width: 12%;
    height: 7%;
    margin: 0 3% 4%;
}
footer p{
    text-align: center;
}
.kpay{
    margin-left: 5%;
}
.wave{
    margin-right: 4%;
}
.float{
    float: left;
}

#footer1, #footer2, #footer3, #footer4{
    width: 25%;
}
.paymentgp{
    margin: 0 auto;
    width: 30%;
}
