*{
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    background-color: #fbfbfb;
}
#header select{
    background-color: transparent;
    padding: 2%;
    border: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
    color:#172161;
}

#header li{
    list-style-type: none;
    display: inline;
}
#header a{
    text-decoration: none;
    margin-left: 6%;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
    color:#172161;
}

#navbar1{
    width: 27%;
    margin-left: 5%;
    margin-top: 1%;
}
.logoimg{
    width: 39%;
    display: flex;
    justify-content: center;
}
.logoimg img{
    width: 30%;
    height: 11vh;
}
#navbar2{
    width: 20%;
    margin-top: 2%;
    margin-left: 5%;
}
#navbar2 i{
    font-size: 1.3rem;
    color:#172161;
    margin-left: 6%;
}
.left{
    margin-left: 0px;
}
#m-container{
    width: 100%;
    background-color: #f0ebe2;
}
#container{
    margin: 0 auto;
    width: 73%;
    background-color: #f0ebe2;
    padding: 3%;
}
.float{
    float: left;
}

#pd-header{
    text-align: center;
}
#pd-header h1{
    color: #5C1717;
    margin-bottom: 2%;
    font-family: 'Fredoka One', cursive;
}
.navline{
    display: inline;
    color: #5C1717;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
}
#pd-header i{
    color: #5C1717;
}

#p-img{
    width: 50%;
}
#p-detail{
    width: 43%;
    padding: 3%;
    margin-top: 3%;
}
.p-img>img{
    width: 100%;
    height: 60vh;
    margin-top: 20%;
    border-radius: 50px;
}

#p-detail i{
    color: #FFD600;
}
#p-detail h1{
    margin-bottom: 4%;
    font-family: 'Rowdies', cursive;
    color: #172161;
    font-size: 2rem;
}
#p-detail p{
    font-size: 1rem;
    text-align: justify;
    margin-top: 4%;
}
#specs{
    margin-top: 5%;
    line-height: 50pt;
}
.spec{
    color: #172161;
}
.points{
    color:#D65407;
    font-weight: bold;
}

#f-purchase{
    width: 50%;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #D65407;
    margin: 5% auto;
    background-color: #fff;
}
#f-purchase h3{
    color:#172161;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 3%;
}
.price{
    color:#D65407;
    font-weight: bold;
}

#atcart{
    width: 80%;
    margin:0 auto ;

}
.atcart{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 2% 6%;
    margin-left: 50%;
    background-color: #D65407;
    color: #fff;
    font-family: 'Fredoka One', cursive;
}


#clear{
    clear: both;
}

#section4{
    background-image: url('../images/campingphoto.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
    position: relative;
    width: 100%;
    margin-top: 3%;
}
.discountinfo{
    background-color:rgba(186, 189, 191,0.7);
    position: absolute;
    top: 27%;
    left: 67%;
    padding: 3%;
    border-radius: 30px;
}
.discountinfo h3,p,span{
    font-family: 'Public Sans', sans-serif;
    color:#172161;
}
.discountinfo h3{
    margin-bottom: 5%;
    font-size: 1.2rem;
}

#section6{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3% 0;
    background-color: #f0ebe2;
}
.f-li{
    margin-left: 10%;
}
.f-li>li{
    list-style-type: none;
    display: inline;
    margin-left: 7%;
}
.f-li i{
    font-size: 2rem;
    color: #5C1717;
}
#followus, #signup{
    float: left;
}
.followus{
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    color:#5C1717;
}
#followus{
    width: 50%;
    margin-left: 9%;
    margin-top: 1%;
}
#signup{
    margin-left: 10%;
    font-family: 'Public Sans', sans-serif;
    color:#172161;
    font-size: 1.1rem;
}

#email{
    display: block;
    margin-top: 6%;
    padding: 4%;
    width: 100%;
}


#section8{
    width: 100%;
}
#payment{
    width: 100%;
    margin: 5% auto;
}
.paymentgp img{
    width: 11%;
    height: 6vh;
    margin: 0 4% 4%;
    border-radius: 10px;
}
.paymentgp li{
    list-style-type: none;
    display: inline;
}
#payment p{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    color:black;
}

.paymentgp{
    margin: 0 auto;
    width: 35%;
}

.float{
    float: left;
}

#footer1, #footer2, #footer3{
    width: 17%;
    margin-left: 5%;
}
#footer4{
    width: 30%;
}
#footer4 p{
    color: #fff;
    font-family: 'Public Sans', sans-serif; 
}
footer{
    margin: 0 auto;
    padding-bottom: 3%;
    height: 20vh;
    padding-top: 3%;
    background-color: gray;
}
footer ul{
    list-style-type: none;
}
footer li{
    margin-top: 2%;
}
footer a{
    color: white;
    font-family: 'Public Sans', sans-serif; 
}
footer h5{
    font-size: 1.4rem;
    color: white;
    margin-bottom: 7%;
}

#copyright{
    background-color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
}
#copyright p{
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}
